.container-thin {
    max-width: 770px;
}

.elephant {
    margin: 50px 0;
    text-align: center;
}

.elephant h1 {
    font-size: 100px;
    line-height: 1;
    margin: 10px 0;
}

.head-controls {
    margin: 10px 0;
}

.heading {
    margin: 15px 0;
}

#logo {
    width: 25px;
    height: 25px;
    margin: 12px 0 0 10px;
}

#head-example {
    width: 50px;
    height: 50px;
}

.brand h3 {
    font-size: 23px;
    /*font-weight: normal;*/
    line-height: 30px;
}